body {
    padding: 0;
    margin: 0;
}

.nav-bar {
    display: flex;
    color: white;
    padding: 30px;
    font-size: 1.5rem;
    background-color: #100c44;
    height: 50px;
}

.slider-nav {
    position: absolute;
    right: 15px;
    top: 5px;
    font-size: 1.7rem;
    opacity: 0.8;
    display: none;
}

.profile {
    height: 30px;
    opacity: 0.7;
}

.nav-list {
    display: flex;
    gap: 30px;
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 1.3rem;
    list-style: none;
    color: white;
}

.nav-link {
    transition: color 0.5s;
}

.fa-chevron-down {
    position: relative;
    top: 3px;
}

.nav-link:hover {
    cursor: pointer;
    color: rgb(42, 185, 224);
    text-decoration: underline;
}

.fa-chevron {
    font-size: 20px;
}

.report {
    font-size: 2rem;
}

.details {
    font-size: 1.3rem;
}

.details a {
    color: #100c44;
    font-weight: 600;
}

.home {
    position: relative;
    top: 70px;
    text-align: center;
    line-height: 2rem;
}

@media (500px<width<1000px) {
    .fa-duotone,.unimlb {
        position: absolute;
        top: 0;
    }
    .unimlb {
        padding-left: 20px;
    }

}

@media (width<=500px) {
    .nav-bar {
        justify-content: center;
    }
    .report {
        font-size: 1.6rem;
    }
    .nav-list {
        display: none;
    }    
    .slider-nav {
        display: block;
    }
}